<div class="app-component">

    <div class="backdrop" [ngSwitch]="backdrop">

        <div class="normal bar" *ngSwitchCase="'normal'" #normal>
            <mat-icon (click)="show('list')">menu</mat-icon>
            <span>Living room</span>
            <mat-icon (click)="show('filters')">tune</mat-icon>
        </div>

        <div class="list" *ngSwitchCase="'list'" #list>
            <div class="bar">
                <mat-icon (click)="show('normal')">close</mat-icon>
                <span>Shopping</span>
                <mat-icon (click)="show('filters')">tune</mat-icon>
            </div>
            <ul class="itens">
                <li>Living room</li>
                <li>Bedroom</li>
                <li>Kitchen</li>
            </ul>
        </div>

        <div class="filters" *ngSwitchCase="'filters'" #filters>
            <div class="bar">
                <mat-icon (click)="show('normal')">close</mat-icon>
                <span>Filter results</span>
                <mat-icon (click)="show('filters')">tune</mat-icon>
            </div>

            <div class="filter">
                <label>Price range @20 - $200</label>
                <mat-slider></mat-slider>
            </div>

            <div class="filter">
                <label>Brands</label>
                <button>DryLand</button>
                <button>Headspaces</button>
                <button>BlueLove</button>
            </div>

            <div class="filter">
                <label>Product features</label>
                <button>DryLand</button>
                <button>Headspaces</button>
                <button>BlueLove</button>
            </div>

        </div>

    </div>

    <div class="frontdrop" #front [style.height.px]="height">
        <img src="https://picsum.photos/200/200">
        <img src="https://picsum.photos/200/200">
        <img src="https://picsum.photos/200/200">
        <img src="https://picsum.photos/200/200">
        <img src="https://picsum.photos/200/200">
        <img src="https://picsum.photos/200/200">
    </div>

</div>
